/*================================================================================	
	Version: 3.0
	Author: Ismael Melkis
	Company: BI - Linear Sistemas
================================================================================

/* Loader */
